<!doctype html>
<html class="no-js" lang="en">
	<head>
		<title>blog</title>
		
		<meta charset="UTF-8">
		
		<meta name="author" content="Jordan Hasgul">
		<meta name="description" content="Personal Blog webapp">
		<meta name="keywords" content="Bridging Coursework">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	
	<body>
		<div>
            <h1><a href="/">Jordan Hasgul Blog</a></h1>
        </div>

        {% for post in posts %}
		<div>
			<p>published: {{ post.published_date }}</p>
			<h2><a href="">{{ post.title }}</a></h2>
			<p>{{ post.text|linebreaksbr }}</p>
		</div>
		{% endfor %}
	</body>
</html>